@using Secondhand.Domain.Model
@model Item

<a>
    <div class="col-md-12">
        <h2>@Model.ItemName</h2>
        @{
            String img64 = Convert.ToBase64String(Model.Image);
            String img64Url = string.Format("data:image;base64,{0}", img64);
        }
        <p>
            <img src="@img64Url" class="detailImage"/>
        </p>
        <h5>Description</h5>
        <p>@Model.Description</p>

        <h5>Year</h5>
        <p>@Model.Year</p>

        <h5>Price</h5>
        <p>@Model.Price$</p>

        <h5>Seller</h5>
        <p>@Model.UserId</p>
        <button>
            Buy Item
        </button>
    </div>
</a>
