@using Secondhand.Domain.Model
@model IEnumerable<Item>

@foreach (Item item in Model)
{
    @Html.AntiForgeryToken()
    <a>
        <div class="col-md-4">
            <img src="@item.Image" />
            <p class="description">@item.ItemName</p>
            <p class="description">@item.Price</p>
            @Html.ActionLink("Details", "Detail", "Item")
        </div>
    </a>
}
