@using Secondhand.Domain.Model
@model User

@using (Html.BeginForm("Save", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="inputUserName">User Name</label>
        @Html.TextBoxFor(u => u.UserName, new
        {
            placeholder ="Username",
            @class ="form-control",
            @readonly = "readonly"
        })
    </div>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        @Html.TextBoxFor(u => u.FirstName, new
        {
            placeholder = "First Name",
            @class = "form-control"
        })
    </div>
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        @Html.TextBoxFor(u => u.LastName, new
        {
            placeholder = "Last Name",
            @class = "form-control"
        })
    </div>
    <div class="form-group">
        <label for="inputStreet">Street</label>
        @Html.TextBoxFor(u => u.Street, new
        {
            placeholder = "Street",
            @class = "form-control"
        })
    </div>
    <div class="form-group">
        <label for="inputCity">City</label>
        @Html.TextBoxFor(u => u.City, new
        {
            placeholder = "City",
            @class = "form-control"
        })
    </div>
    <div class="form-group">
        <label for="inputZip">ZIP Code</label>
        @Html.TextBoxFor(u => u.Zip, new
        {
            placeholder = "ZIP Code",
            @class = "form-control"
        })
    </div>
    <div class="form-group">
        <label for="inputCountry">Country</label>
        @Html.TextBoxFor(u => u.Country, new
        {
            placeholder = "Country",
            @class = "form-control"
        })
    </div>
    <button type="submit" name="buttonSubmit" class="btn btn-primary">Create User</button> 
}
